<!DOCTYPE html>
<html>

	<head>
    <title>Add Job</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
	</head>

	<body style="padding: 0px;">

		<% include partials/header %>

    <div class="jumbotron" style="background-color: #94B77C">
    	<div class="container">
	    	<h1>Find local jobs</h1>
	    	<p>Contribute to your community</p>
	    	<p>User our quick and easy payment system, powered by Stripe</p>
	    </div>
    </div>

    <div class="col-md-4 posting-container">

    	<% allJobs.forEach(function(job){ %>
    		<div class="job">
    			<h4><p><%= job.title %></p></h4>
    			<p>$<%= job.salary %> <%= job.salaryType %></p>
    			<p><%= job.location %></p>
    		</div>
    	<% }); %>

    </div>

    <div class="col-md-5 posting-detail-container">
    	<p id="defaultDetail">Select a job</p>
    	<h3><p id="titleDetail" hidden></p></h3>
    	<p id="salaryDetail" hidden></p>
    	<p id="locationDetail" hidden></p>
    	<hr>
    	<p id="descriptionDetail" style="text-align: left" hidden></p>
    	<hr>
    	<a id="messageJob" class="btn btn-lg btn-success pull-right" role="button">Message</a>
    	<a id="applyJob" class="btn btn-lg btn-success pull-right" role="button">Apply</a>
    	<a id="deleteJob" class="btn btn-lg pull-left" role="button">Delete</a>
    </div>

  </body>

  <script type="text/javascript">

    index.init({});

    <% allJobs.forEach(function(job){ %>
    	var data = {
    		id: "<%= job._id %>",
    		title: "<%= job.title %>",
    		salary: "<%= job.salary %>",
    		salaryType: "<%= job.salaryType %>",
    		location: "<%= job.location %>",
    		description: "<%= job.description %>"
    	};
    	index.addJob(data);
    <% }); %>

  </script>
</html>